<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ImageSearchAbstractionLayer</title>
  </head>
  <body>

    <h1>User stories:</h1>
    <ol>
      <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
      <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
      <li>I can get a list of the most recently submitted search strings.</li>
    </ol>
    <h1>Example creation usage:</h1>

    <ul>
      <li>https://ddcreationstudios-imagesearch.herokuapp.com/search/code</li>
      <li>https://ddcreationstudios-imagesearch.herokuapp.com/search/code?offset=2
</li>
      <li>https://ddcreationstudios-imagesearch.herokuapp.com/latest</li>
    </ul>

    <h1>Example creation output:</h1>

    <p>Search:</p>

    <p>{
    "url": "http://i.imgur.com/1k25qTQ.gif",
    "snippet": "A magical way to bypass the secret source code for Android phones and without the need to format mobile phone",
    "context": "https://imgur.com/1k25qTQ"
    }</p>


    <p>Latest:</p>

    <p>
    {
    "term": "code",
    "when": "2016-12-03T10:14:34.971Z"
    }
    </p>
  </body>
</html>
